# Python cache and bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Package and dependency files
*.egg-info/
*.eggs/
dist/
build/
pip-wheel-metadata/
*.egg

# Logs and local debug files
*.log
*.txt
*.out

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment directories
venv/
.env/
env/
.venv/
.Python

# Coverage and test reports
htmlcov/
.coverage
*.cover
.pytest_cache/

# Compiled C extensions
*.so


